<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta HTTP-EQUIV="Pragma" content="no-cache">
    <meta HTTP-EQUIV="Expires" content="-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activity Analytics (Demo)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Video Emotion Analysis</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{{  url_for('reset') }}">Reset <span class="sr-only">(current)</span></a>
            </li>
        </ul>
    </div>
</nav>

<main role="main" class="container">
    <div class="starter-template">
        <h1>Video Emotion Analysis</h1>
        <p class="lead">Analyze emotions in videos.</p>
    </div>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div class="alert alert-info">
                        <strong>Error: </strong> {{ message }}
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <strong>Success! </strong> {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div id="load_data">
        <div class="wrapper-all">
            <div id="drag-and-drop"></div>
        </div>
        {% if explore is undefined %}
            <div class="container screenshot">
                {% if screenshot is defined %}
                    <img src="/uploads/{{ screenshot | safe }}" width=200 height=auto/>
                {% endif %}
            </div>
        {% endif %}
        {% if loaded and not explore %}
            <div class="d-flex justify-content-center">
                <a href="{{ url_for('index', action='analyze') }}" role="button" class="btn btn-primary">Analyze</a>
            </div>
        {% endif %}
    </div>
    {% if explore %}
        <div id="output_video">
            <h3>Video</h3>
            <div class="container videoDisplay">
                {{ filename|safe }}
                <div>
                    {% for image in output_images %}
                        <img src="{{ image }}" width="250" height="auto">
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="chart">
            <h3>Data</h3>
            <div>
                {% if emotions_chart is defined %}
                <img src="/uploads/{{ emotions_chart|safe }}" class="img-fluid"/>
                {% endif %}
            </div>
            <div class="container DataFrame">
                <a href="/uploads/{{ csv_filename|safe }}">{{ csv_filename|safe }}</a>
                <div>
                    {% if dataframe is defined %}
                        {{ dataframe|safe }}
                    {% endif %}
                    {% if csv_filename is defined %}
                    <a href="/uploads/{{ csv_filename|safe }}"><i class="fa fa-download"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
</main>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/popper.js') }}"></script>
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>

    function checkExist(url, id) {
        console.log("checking " + url + " " + id);
        setInterval(function () {
            var request;
            if (window.XMLHttpRequest)
                request = new XMLHttpRequest();
            else
                request = new ActiveXObject("Microsoft.XMLHTTP");
            request.open('GET', url, false);
            request.send(); // there will be a 'pause' here until the response to come.
            // the object request will be actually modified
            if (request.status === 404) {
                alert("The page you are trying to reach is not available.");
            } else if (request.status === 200) {
                clearInterval(checkExist);
                $("#" + id).attr("src", url);
            }
        }, 100);
    } // check every 100ms

</script>
</body>
</html>